
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'montserrat', serif;
}

strong {
    font-weight: bold;
}

.main-header-placeholder {
    width: 100%;
    height: 78px;
}

.main-header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 78px;
    background-color: #262626;
}

.main-header .logo {
    float: left;
    padding-top: 31px;
    padding-bottom: 31px;
    margin-left: 32px;
    width: 256px;
    height: 78px;
    background: url(../images/logo.png) center center no-repeat;
}

.main-header .actions {
    float: right;
    font-size: 0;
    height: 100%;
}

.main-header .link {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 100%;
    line-height: 78px;
    transition: background .2s ease-in-out;
}

.main-header .link:focus,
.main-header .link:hover {
    background-color: #1a1a1a;
    background-color: #e76049;
}

.main-header .link + .link {
    border-left: 1px solid #ebebeb;
    border-left: 1px solid rgba(235,235,235,.05);
    border-left: 1px solid #303030;
}

.main-header .share-link {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #fff;
}

.main-header .with-submenu {
    position: relative;
    cursor: pointer;
}

.main-header .submenu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 185px;
    background-color: #fff;
    box-shadow: 6px 6px 0 rgba(0,0,0,.2);
    border: 1px solid #484848;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility 0s ease .3s;
}

.main-header .with-submenu:focus .submenu,
.main-header .with-submenu:hover .submenu {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s, visibility 0s;
}

.main-header .list > li + li {
    border-top: 1px solid #e7e7e7;
}

.main-header .list-link {
    height: 43px;
    line-height: 43px;
}

.main-header .list-link .icon-box {
    float: left;
    width: 50px;
    text-align: center;
    border-right: 1px solid #e7e7e7;
}

.main-header .list-link .icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: #3360b2;
    border-radius: 50%;
}

.main-header .list-link .label {
    float: left;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #323232;
    padding-left: 16px;
    padding-right: 16px;
    transition: color .2s ease-in-out;
}

.main-header .list-link:focus .label,
.main-header .list-link:hover .label {
    color: #e76049;
}

.main-header .list-link.twitter .icon {
    background-color: #08b0e0;
}



.main-header .search-link {
    background: url(../images/icon-search.svg) center center no-repeat;
    background-size: 20px 20px;
}

.main-header .user-link {
    background: url(../images/icon-user.png) center center no-repeat;
}

.main-menu {
    position: relative;
    z-index: 2;
    float: left;
    width: 70px;
    height: 100%;
    background-color: #fbfbfb;
    border-right: 1px solid #e7e7e7;
}

.main-menu .item {
    height: 68px;
    border-bottom: 1px solid #e7e7e7;
}

.main-menu .link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.main-menu .icon-box {
    position: relative;
    width: 70px;
    height: 100%;
    text-align: center;
}

.main-menu .label {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    line-height: 68px;
}

.main-menu .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: #333;
}

.main-menu .hover-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /*transform-origin: left;*/
    /*transform: scaleX(0);*/
    background-color: #333;
    width: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    transition: width .3s, opacity .3s, visibility 0s ease .3s;
}

.main-menu .link:focus .hover-mask,
.main-menu .link:hover .hover-mask {
    visibility: visible;
    opacity: 1;
    width: 160px;
    /*transform: scaleX(1);*/
    transition: width .3s, opacity .3s, visibility 0s;
}

.main-menu .link .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 160px;

}

.main-menu .hover .label,
.main-menu .hover .icon-box {
    float: left;
}

.main-menu .hover .icon-box .icon {
    background-color: #fff;
}

/*Colors*/


.main-menu .business .hover-mask,
.main-menu .business .icon {
    background-color: #3360b2;
}

.main-menu .business .icon {
    border-radius: 50%;
}

.main-menu .photo .hover-mask,
.main-menu .photo .icon {
    background-color: #2eb398;
}

.main-menu .photo .icon {
    transform: rotate(45deg);
}







.main-posts {
    margin-left: 70px;
}

.posts-list .post {
    width: 510px;
    height: 635px;
    padding: 20px;
    /*background-color: rgba(255,0,0,.2);*/
    overflow: hidden;
}

.posts-list .inner-post {
    height: 100%;
    /*background-color: red;*/
}


.posts-list.with-float .post {
    float: left;
}

.posts-list.with-inline {
    font-size: 0;
}

.posts-list.with-inline .post {
    display: inline-block;
}

.posts-list.percentage .post {
    width: 33.33%;
}

.post .image {
    position: relative;
    height: 317px;
}

.post .image:after {
    content: '';
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 40px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #fff transparent;
    transform: translateY(5px);
    transition: transform .3s ease-in-out .3s;
}

.post .image-link:hover .image:after {
    transform: translateY(0px);
    transition: transform .3s ease-in-out;
}

.post .image img {
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: auto;
}

.post .image-link {
    display: block;
}

.post .image-hover {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.post .image-link:hover .image-hover {
/*    visibility: visible;
    opacity: 1;
    transition: opacity .3s, visibility 0s;*/
}

.post .image-hover .bg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e76049;
    opacity: .8;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out .3s, visibility 0s ease .6s;
}

.post .image-link:hover .image-hover .bg {
    visibility: visible;
    opacity: .8;
    transition: opacity .3s, visibility 0s;
}

.post .image-hover .text {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 257px;
    height: 62px;
    border: 4px solid #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility 0s ease .3s;
}

.post .image-link:hover .image-hover .text {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease-in-out .3s, visibility 0s;
}

.post .image-hover .icon {
    float: left;
    width: 62px;
    height: 100%;
    border-right: 4px solid #fff;
}

.post .image-hover .label {
    margin-left: 62px;
    text-align: center;
    line-height: 57px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -0.2px;
}

.post .post-texts {
    height: calc(595px - 317px);
    padding: 30px;
    text-align: left;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 5px solid #2eb398;
}

.post .title {
    font-weight: bold;
    font-size: 26px;
    color: #313131;
    margin-bottom: 15px;
    transition: color .2s ease-in-out;
}

.post a:hover .title {
    color: #2eb398;
}

.post .text {
    font-size: 14px;
    color: #626262;
}

