
.header {
    height: 60px;
    background-color: blue;
    padding: 0 40px;
    color: #fff;
    font-size: 20px;
}

@media (max-width: 980px) {
    .header {
        padding: 0 20px;
    }
}


