/* line 5, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 136, icons/*.png */
.icons-sprite, .icons-barbecue2, .icons-cake29, .icons-cheese, .icons-chinese-food4, .icons-cocarde, .icons-drink76, .icons-egg, .icons-error, .icons-fork2, .icons-gg, .icons-icon-256, .icons-success {
  background-image: url('../images/icons-s41b5164a0e.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-barbecue2 {
  background-position: 0 -3461px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cake29 {
  background-position: 0 -2949px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cheese {
  background-position: 0 -2437px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-chinese-food4 {
  background-position: 0 -1413px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cocarde {
  background-position: -30px -256px;
  height: 100px;
  width: 100px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-drink76 {
  background-position: 0 -901px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-egg {
  background-position: 0 -389px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-error {
  background-position: 0 -256px;
  height: 11px;
  width: 15px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fork2 {
  background-position: 0 -1925px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-gg {
  background-position: -130px -256px;
  height: 133px;
  width: 200px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon-256 {
  background-position: 0 0;
  height: 256px;
  width: 256px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-success {
  background-position: -15px -256px;
  height: 13px;
  width: 15px;
}

/* line 22, ../sass/theme/_icons.scss */
[class^="icons-"], [class*=" icons-"] {
  display: inline-block;
}

/* line 3, ../sass/theme/_home.scss */
body {
  background: red;
}

/*# sourceMappingURL=theme.css.map */
