@charset "UTF-8";

/*
Name: Default
URL: http://github.com/Darklg/CSSCommon
Version: 2.7.5
License: MIT
*/

/* ----------------------------------------------------------
  Reset
---------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
audio,canvas,datagrid,datalist,details,dialog,figure,footer,header,
menu,nav,section,video,abbr,eventsource,mark,meter,time,progress,output,bb {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent no-repeat top left;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

a {
    color: inherit;
    text-decoration: none;
}

/* ----------------------------------------------------------
  Normalize
---------------------------------------------------------- */

/* HTML5 Default behavior
-------------------------- */

article,
aside,
audio,
canvas,
datagrid,
datalist,
details,
dialog,
figure,
figcaption,
footer,
header,
hgroup,
menu,
main,
nav,
section,
video {
    display: block;
}

abbr,
eventsource,
mark,
meter,
time,
progress,
output,
bb {
    display: inline;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

nav ul {
    list-style: none;
}

/* Forms
-------------------------- */

input,
button,
select {
    vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
    vertical-align: text-bottom;
}

textarea {
    resize: vertical;
}

input:focus {
    outline: 0;
}

input:-webkit-autofill {
    background-color: #ccc!important;
}

/* Better cursor for buttons */

input[type="submit"],
input[type="image"],
button {
    cursor: pointer;
}

/* Medias
-------------------------- */

video,
img,
object {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

/* Inline images are aligned on text */

img,
input[type=image] {
    vertical-align: bottom;
}

p img {
    vertical-align: baseline;
}


code {
    display: inline-block;
    font: 18px monospace;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    background-color: rgba(0,0,0,.04);
}

code:before,
code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

/* Common elements
-------------------------- */

html {
    height: 100%;
}

body {
    min-height: 100%;
    font: 62.5%/1 sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 1.1;
}

h1, .h1 {
    margin-bottom: 10px;
    font-size: 25px;
}

h2, .h2 {
    margin-bottom: 7px;
    font-size: 20px;
}

h3, .h3 {
    font-size: 15px;
}

h4, .h4 {
    font-size: 13px;
}

.text {
    font-size: 14px;
    line-height: 1.5;
}

.text p,
.text li {
    font-size: inherit;
    line-height: inherit;
}

.text ul {
    list-style-type: disc;
}

.text ul ul {
    list-style-type: circle;
}

.text ol {
    list-style-type: upper-roman;
}

.text ol ol {
    list-style-type: lower-latin;
}

.text ul p,
.text ul ul,
.text ol ol {
    padding-left: 20px;
}

.text .list-unstyled {
    list-style: none;
}

.text img,
.text li,
.text p {
    margin-bottom: 18px;
}

blockquote p:last-child,
p:last-child {
    margin-bottom: 0;
}

.text em {
    font-style: italic;
}

.text strong {
    font-weight: bold;
}

/* Prevents sub and sup affecting line-height in all browsers | gist.github.com/413930 */

sub,
sup {
    position: relative;
    margin: 0 1px;
    font-size: 80%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

small {
    font-size: 80%;
}

abbr[title],
acronym[title] {
    border-bottom: 1px dashed #ccc;
    border-color: rgba(0,0,0,.2);
    cursor: help;
}

blockquote {
    display: block;
    padding: 5px 0 5px 10px;
    border-left: 5px solid #DDD;
    border-color: rgba(0,0,0,.1);
    font-size: 12px;
}

blockquote p {
    margin-bottom: 4px;
}

hr {
    clear: both;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #f0f0f0;
}

/*Images*/

picture .caption {
    display: block;
    text-align: right;
    font-size: 14px;
    font-style: italic;
}

/* ----------------------------------------------------------
  Selection style
---------------------------------------------------------- */

::-moz-selection {
    color: #000;
    background: rgba(51,102,153,.3);
}

::selection {
    color: #000;
    background: rgba(51,102,153,.3);
}
