@charset "UTF-8";

/* ----------------------------------------------------------
   Fonts
   ------------------------------------------------------- */

/* Light */
@font-face {
    font-family: "Open Sans";
    src: url('../assets/fonts/OpenSans-Light-webfont.eot');
    src: url('../assets/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('../assets/fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../assets/fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}


/* Regular */
@font-face {
    font-family: "Open Sans";
    src: url('../assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('../assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* Extra bold */
@font-face {
    font-family: "Open Sans";
    src: url('../assets/fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../assets/fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}



body {
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 1.6em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    background-color: #f6f2ea;
    color: #777;
}

.canvas {
    box-shadow: 0 0 40px rgba(0,0,0,.05);
    width: auto;
    max-width: 1140px;
    margin: 0 auto;
    background: #fff;
}

/* ----------------------------------------------------------
   Punto
   ------------------------------------------------------- */

.punto-incremental {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility 0s ease .3s;
    -webkit-transform: translateZ(0);
}

.punto-incremental[active] {
    visibility: visible;
    opacity: .99;
    transition: opacity .3s, visibility 0s;
}

/* punto-Incremental elements */

/* By default, visible */
.punto-incremental > * {
    opacity: .99;
    transition: opacity .3s;
    -webkit-transform: translateZ(0);
}

/* The current item */
.punto-incremental > *[aria-selected] {
    opacity: .99;
}

/* The items to-be-selected */
.punto-incremental > *[aria-selected] ~ * {
    opacity: 0;
    transition: opacity 0s;
}

[role="note"] {
    display: none;
}

/* ----------------------------------------------------------
   Layout
   ------------------------------------------------------- */

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    color: #333;
    background-color: #fff;
    border-bottom: 2px solid #ffc02b;
    text-align: center;
    /*opacity: 0;*/
    /*transition: opacity .6s ease-in-out;*/
    -webkit-transform: translateZ(0);
}

.section[aria-selected] {
    /*opacity: .999;*/
}

.wrap {
    height: 100%;
    padding: 50px;
}

.section header {
    position: relative;
    z-index: 3;
    text-align: left;
    margin-bottom: 40px;
}

.section .content {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 5px 100px;
    text-align: left;
}

.section .part-title {
    position: absolute;
    z-index: 9;
    top: 20px;
    left: 50px;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 800;
    color: #ffc02b;
}

/* ----------------------------------------------------------
   Titles
   ------------------------------------------------------- */

h1,
.headline {
    position: relative;
    z-index: 10;
    left: -3px;
    font-family: "Open Sans";
    font-size: 72px;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
}

.dark-bg h1,
.dark-bg .headline {
    color: #fff;
}

.section[aria-selected] .headline {
}


h2 {
    font-family: "Open Sans";
    font-size: 60px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 10px;
}

h3 {
    font-family: "Open Sans";
    font-size: 28px;
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: 2px;
}

.main-title {
    text-align: center;
    margin: 0;
}

.main-title .label {
    border: 5px solid #ffc02b;
    border-left: 0;
    border-right: 0;
    display: inline-block;
    padding: 10px 0;
}

.main-title .suphead {
    font-size: 32px;
    display: block;
    font-weight: 300;
    text-transform: none;
    margin: 10px auto;
}

/* ----------------------------------------------------------
   Text
   ------------------------------------------------------- */

.text {
    font-size: 26px;
}

.text a {
    display: inline-block;
    padding: 0 4px;
    background-color: transparent;
    border-bottom: 1px solid #ffc02b;
    transition: background .3s;
}

.text a:focus,
.text a:hover {
    background-color: #FFD779;
}

.monospace {
    font-family: monospace;
}


.section .full {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}