body {
  background-color: #ff7b4a;
  overflow: hidden; }

.gif {
  width: 240px;
  height: 180px;
  margin: 40px auto 40px;
  background-repeat: no-repeat;
  background-size: 800px 600px;
  background-position: center center; }

.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  -webkit-transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.75, 2);
  -o-transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.75, 2);
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.75, 2);
  cursor: pointer; }
  .card-container:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }

.card-box {
  width: 220px;
  height: 120px;
  margin: 100px auto 40px;
  transform-style: preserve-3d;
  -webkit-animation: flip 3s infinite linear;
  -o-animation: flip 3s infinite linear;
  animation: flip 3s infinite linear; }

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #663554;
  border-radius: 10px;
  backface-visibility: hidden; }

.front {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
  transform: rotateY(180deg) translate3d(0, 0, 0);
  background-color: #442438; }

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    transform: rotateY(-360deg); } }
.puce {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffd58c;
  -webkit-animation: puce 1s infinite linear;
  -o-animation: puce 1s infinite linear;
  animation: puce 1s infinite linear; }

@-webkit-keyframes puce {
  0% {
    width: 0; }
  100% {
    width: 40px; } }
@-moz-keyframes puce {
  0% {
    width: 0; }
  100% {
    width: 40px; } }
@-ms-keyframes puce {
  0% {
    width: 0; }
  100% {
    width: 40px; } }
@keyframes puce {
  0% {
    width: 0; }
  100% {
    width: 40px; } }
.circle {
  position: absolute;
  z-index: 2;
  top: 17px;
  right: 40px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffd58c;
  -webkit-animation: circle 1s infinite ease-in-out;
  -o-animation: circle 1s infinite ease-in-out;
  animation: circle 1s infinite ease-in-out; }

.circle + .circle {
  z-index: 1;
  background-color: #bf7900;
  -webkit-animation: circle2 1s infinite ease-in-out;
  -o-animation: circle2 1s infinite ease-in-out;
  animation: circle2 1s infinite ease-in-out; }

@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes circle {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-ms-keyframes circle {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes circle {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes circle2 {
  0% {
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0); }
  50% {
    -webkit-transform: scale(1) translate(0, 0);
    -moz-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); }
  80% {
    -webkit-transform: scale(1) translate(26px, 0);
    -moz-transform: scale(1) translate(26px, 0);
    -ms-transform: scale(1) translate(26px, 0);
    transform: scale(1) translate(26px, 0); }
  100% {
    -webkit-transform: scale(1) translate(26px, 0);
    -moz-transform: scale(1) translate(26px, 0);
    -ms-transform: scale(1) translate(26px, 0);
    transform: scale(1) translate(26px, 0); } }
@-moz-keyframes circle2 {
  0% {
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0); }
  50% {
    -webkit-transform: scale(1) translate(0, 0);
    -moz-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); }
  80% {
    -webkit-transform: scale(1) translate(26px, 0);
    -moz-transform: scale(1) translate(26px, 0);
    -ms-transform: scale(1) translate(26px, 0);
    transform: scale(1) translate(26px, 0); }
  100% {
    -webkit-transform: scale(1) translate(26px, 0);
    -moz-transform: scale(1) translate(26px, 0);
    -ms-transform: scale(1) translate(26px, 0);
    transform: scale(1) translate(26px, 0); } }
@-ms-keyframes circle2 {
  0% {
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0); }
  50% {
    -webkit-transform: scale(1) translate(0, 0);
    -moz-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); }
  80% {
    -webkit-transform: scale(1) translate(26px, 0);
    -moz-transform: scale(1) translate(26px, 0);
    -ms-transform: scale(1) translate(26px, 0);
    transform: scale(1) translate(26px, 0); }
  100% {
    -webkit-transform: scale(1) translate(26px, 0);
    -moz-transform: scale(1) translate(26px, 0);
    -ms-transform: scale(1) translate(26px, 0);
    transform: scale(1) translate(26px, 0); } }
@keyframes circle2 {
  0% {
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0); }
  50% {
    -webkit-transform: scale(1) translate(0, 0);
    -moz-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0); }
  80% {
    -webkit-transform: scale(1) translate(26px, 0);
    -moz-transform: scale(1) translate(26px, 0);
    -ms-transform: scale(1) translate(26px, 0);
    transform: scale(1) translate(26px, 0); }
  100% {
    -webkit-transform: scale(1) translate(26px, 0);
    -moz-transform: scale(1) translate(26px, 0);
    -ms-transform: scale(1) translate(26px, 0);
    transform: scale(1) translate(26px, 0); } }
.numbers {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  font-family: Consolas;
  font-size: 0;
  letter-spacing: -1px;
  color: #ffd58c; }
  .numbers i {
    display: inline-block;
    width: 11px;
    -webkit-animation: number 4s infinite ease-in-out;
    -o-animation: number 4s infinite ease-in-out;
    animation: number 4s infinite ease-in-out; }
  .numbers i:nth-child(4n+1) {
    margin-left: 5px; }

.numbers i:nth-child(1) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.numbers i:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.numbers i:nth-child(3) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s; }

.numbers i:nth-child(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.numbers i:nth-child(5) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s; }

.numbers i:nth-child(6) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.numbers i:nth-child(7) {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s; }

.numbers i:nth-child(8) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.numbers i:nth-child(9) {
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s; }

.numbers i:nth-child(10) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

.numbers i:nth-child(11) {
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s; }

.numbers i:nth-child(12) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.numbers i:nth-child(13) {
  -webkit-animation-delay: 3.25s;
  animation-delay: 3.25s; }

.numbers i:nth-child(14) {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s; }

.numbers i:nth-child(15) {
  -webkit-animation-delay: 3.75s;
  animation-delay: 3.75s; }

.numbers i:nth-child(16) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

@-webkit-keyframes number {
  0% {
    font-size: 0; }
  2% {
    font-size: 19px; }
  99% {
    font-size: 19px; }
  100% {
    font-size: 0; } }
@-moz-keyframes number {
  0% {
    font-size: 0; }
  2% {
    font-size: 19px; }
  99% {
    font-size: 19px; }
  100% {
    font-size: 0; } }
@-ms-keyframes number {
  0% {
    font-size: 0; }
  2% {
    font-size: 19px; }
  99% {
    font-size: 19px; }
  100% {
    font-size: 0; } }
@keyframes number {
  0% {
    font-size: 0; }
  2% {
    font-size: 19px; }
  99% {
    font-size: 19px; }
  100% {
    font-size: 0; } }
