/* line 5, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 136, icons/*.png */
.icons-sprite, .icons-barbecue2, .icons-cake29, .icons-chinese-food4, .icons-cocarde, .icons-drink76, .icons-egg, .icons-error, .icons-fork2, .icons-gg, .icons-icon-256, .icons-success {
  background-image: url('../images/icons-s2d7c92de74.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-barbecue2 {
  background-position: 0 -2949px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cake29 {
  background-position: 0 -901px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-chinese-food4 {
  background-position: 0 -2437px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cocarde {
  background-position: -45px -256px;
  height: 100px;
  width: 100px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-drink76 {
  background-position: 0 -1925px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-egg {
  background-position: 0 -1413px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-error {
  background-position: -15px -256px;
  height: 11px;
  width: 15px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fork2 {
  background-position: 0 -389px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-gg {
  background-position: -145px -256px;
  height: 133px;
  width: 200px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon-256 {
  background-position: 0 0;
  height: 256px;
  width: 256px;
}

/* line 84, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-success {
  background-position: -30px -256px;
  height: 13px;
  width: 15px;
}
/* line 59, ../../../../../RUBY193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-success:hover, .icons-success.success-hover {
  background-position: 0 -256px;
}

/* line 22, ../sass/theme/_icons.scss */
[class^="icons-"], [class*=" icons-"] {
  display: inline-block;
}

/* line 2, ../sass/theme/_home.scss */
body {
  padding: 20px;
  background: #eee;
}
/* line 6, ../sass/theme/_home.scss */
body .main {
  padding: 20px;
  background: rgba(186, 218, 85, 0.5);
  border: 2px solid red;
  margin-bottom: 20px;
}
/* line 12, ../sass/theme/_home.scss */
body .main:hover {
  border-color: blue;
}
@media (max-width: 600px) {
  /* line 6, ../sass/theme/_home.scss */
  body .main {
    border-color: green;
  }
}
/* line 21, ../sass/theme/_home.scss */
body .col {
  padding: 20px;
  background: rgba(186, 218, 85, 0.5);
  border: 2px solid red;
}
/* line 26, ../sass/theme/_home.scss */
body .col:hover {
  border-color: blue;
}
@media (max-width: 600px) {
  /* line 21, ../sass/theme/_home.scss */
  body .col {
    border-color: green;
  }
}

/* line 39, ../sass/theme/_home.scss */
.panda {
  width: 300px;
  height: 300px;
  background: url('../images/photos/panda.jpg?1422352053') no-repeat;
  background-size: cover;
}

/* line 48, ../sass/theme/_home.scss */
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  margin-bottom: 30px;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
/* line 55, ../sass/theme/_home.scss */
.message.success {
  border-color: green;
}
/* line 58, ../sass/theme/_home.scss */
.message.success:hover {
  border-color: red;
}
/* line 64, ../sass/theme/_home.scss */
.message.error {
  border-color: red;
}
/* line 68, ../sass/theme/_home.scss */
.message.warning {
  border-color: yellow;
}

/* btn */
/* line 2, ../sass/theme/_anims.scss */
.menu {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 25px;
}

/* line 9, ../sass/theme/_anims.scss */
.menu span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}

/* line 14, ../sass/theme/_anims.scss */
.menu span:before, .menu span:after {
  position: absolute;
  content: '';
}

/* line 18, ../sass/theme/_anims.scss */
.menu span, .menu span:before, .menu span:after {
  width: 30px;
  height: 6px;
  background-color: #000;
  display: block;
}

/* line 24, ../sass/theme/_anims.scss */
.menu span:before {
  margin-top: -12px;
}

/* line 27, ../sass/theme/_anims.scss */
.menu span:after {
  margin-top: 12px;
}

/* --- btn --- */
/* example 8 */
/* line 33, ../sass/theme/_anims.scss */
.example8 span {
  -webkit-transition: .2s ease 0;
}

/* line 36, ../sass/theme/_anims.scss */
.example8 span:before, .example8 span:after {
  -webkit-transition-property: margin, opacity;
  -webkit-transition-duration: .2s, 0;
  -webkit-transition-delay: .2s;
}

/* line 41, ../sass/theme/_anims.scss */
.example8:hover span {
  width: 16px;
  height: 16px;
  margin-top: -5px;
  -webkit-border-radius: 50%;
  -webkit-transition-delay: .2s;
}

/* line 48, ../sass/theme/_anims.scss */
.example8:hover span:before, .example8:hover span:after {
  margin-top: 0px;
  opacity: 0;
  -webkit-transition-delay: 0, .2s;
}

/*# sourceMappingURL=theme.css.map */
