@charset "UTF-8";

// Sprites
// notes : nommez vos images d’état survolé avec le suffixe "_hover"
// --------------------------------------------------

@import "compass/utilities/sprites";

// rangement optimisé du fichier sprite
$icons-layout: smart;

// inclure automatiquement la hauteur CSS pour chacune des images
$icons-sprite-dimensions: true;

// all images to include in the sprite
@import "icons/*.png";

// generate CSS rules
@include all-icons-sprites;

// All sprites icons in inline-block
[class^="icons-"], [class*=" icons-"] {
    display: inline-block;
}
